


body
{font-family: 'Montserrat', sans-serif;
    background-color:#E5E5E5 ;
}
 /* main styles */ 
 .main {          
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
    height: 1370px;
    left: 100px;
    top: 21px;
    padding: 105px 90px;
}
 /* about-box */
.about-box {
        margin-top: 1px;
        margin-bottom: 65px;
        margin-left: 140px;

            width: 424px;
            height: 206px;
            left: 485px;
            top: 142px;
    }
    /* about-position */
    .about-position{
        width: 162px 18px;
            height: 17px;
            left: 485px;
            top: 142px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
    }
            /* name */
            .name{
                    width: 362px 52px;
                    height: 50px;
                    left: 485px;
                    top: 178px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 45px;
                    line-height: 55px;
                    color: #000000;
            }
            /* about-me */
            .about-me{
                width: 550px;
                    height: 96px;
                    left: 485px;
                    top: 252px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;                
                    color: #595959;
            }
    
 /* .project-box */
.project-box{
   
   margin-top: 65px; 
   margin-bottom: 45px;
   margin-left: 118px;

    width: 488px;
    height: 112px;
    left: 463px;
    top: 413px;
    }
    /* project-title */
    .project-title{
    width: 95px;
    height: 27px;
    left: 463px;
    top: 413px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    }
    /* list */
    .list{
        font-style: normal;
        font-weight: 700;
            line-height: 24px;
            color: #000000;
    }
    /* link */
    .link{
    width: 216px;
        height: 72px;
        left: 489px;
        top: 448px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
            /* parentheses */
            .parentheses{
                font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
            }
            /* text-in-link */
            .text-in-link{
                    width: 131px;
                    height: 72px;
                    left: 820px;
                    top: 453px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #595959;
            }
/* work-box */
.work-box{
    margin-top: 45px;
    margin-bottom: 16px;
    margin-left: 153px;
}
        /* worl-title */
        .work-title{
            margin-top: 45px;
            margin-bottom: 12px;
            width: 198px;
            height: 27px;
            left: 498px;
            top: 570px;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #000000;
        }
        /* work-text-ex */
        .work-text-ex{
            width: 262px;
            height: 20px;
            left: 498px;
            top: 609px;                
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
        /* work-ex */
        .work-ex{
            color: #FB6D3A;
        }
        /* work-date */
        .work-date{
            margin-top:11px ;
            margin-bottom:8px ;
                width: 240px;
                height: 15px;
                left: 498px;
                top: 640px;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #A8A8A8;
        }
        /* ex-text */
        .ex-text{
            padding: 0;
            margin-top:8px ;
            margin-bottom: 11px;
            margin-left: 30px;
            width: 509px;
                height: 120px;
                left: 514px;
                top: 663px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #595959;
        }
        /* compamy-2 */
        .compamy-2{
        margin-top:16px ;
        margin-bottom: 20px;
        }
        /* compamy-3 */
        .compamy-3{
        margin-top: 50px;
        margin-bottom: 43px;
        
        }
/* education */
.education-box{
 
    margin-top: 100px;
    margin-bottom: 88px;
    margin-left: 153px;
}
    /* education-title */
    .education-title{
        margin-top: 43px;
        margin-bottom: 12px;
        width: 118px;
            height: 27px;
            left: 498px;
            top: 1138px;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #000000;
    }
    /* education-text */
    .education-text{
        margin-top: 12px;
        margin-bottom: 11px;
        width: 500px;
            height: 20px;
            left: 498px;
            top: 1177px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FB6D3A;
    }
    /* education-management */
    .education-management{
        margin-top: 11px;
        margin-bottom: 12px;
        width: 99px;
            height: 17px;
            left: 498px;
            top: 1208px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
    }
    /* education-country */
    .education-country{
        margin-top: 12px;
        margin-bottom: 88px;
        width: 600px;
            height: 15px;
            left: 498px;
            top: 1237px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #A8A8A8;
    }
    /* ttt */
    .ttt{
        width: 242px;
            height: 15px;
            left: 488px;
            top: 1233px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        color: #000000;
    }
/* sidebar-box */
.sidebar-box{
    background-color: #1E2939;
    padding-top: 40px;
    width:370px;
}
    /* photo */
    .photo{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 65px;
    margin-right: 135px;
    width: 354;
    height: 370;
    }
/*  sidebar-title*/
    .sidebar-title{
    color: #FFF;
        font-style: normal;
        font-weight: 104;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }
/* Contacts */
.contacts{
    margin-left: 40px;
margin-bottom:50px ;
}
/* contact-c */
.contact-p{
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
/* contact-e */
.contact-e{
    color: #FFF;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}
/* nomber */
.nomber{
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8E949C;
    margin-left: 5px;
}
/* mail */
.mail{
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8E949C;
    margin-left: 5px;
}
/* tech */
.tech{margin-left: 40px;
    color: #FFF;
    margin-bottom: 45px;  
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}
    /* tech-list */
    .tech-list {
    padding: 0;
    margin-left: 17px;
}
        /* tech-item */
        .tech-item{
        color: #FB6D3A;
        }
        /* tech-text */
        .tech-text{
            color: #FFF;
        }
/* softbar-title */
.softbar-title{
        color: #FFF;
            font-style: normal;
            font-weight: 104;
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 10px;
            margin-left: 20px;
        }
    /* soft */
    .soft{margin-left: 20px;
        padding: 0;
        color: #FFF;
        font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
    }
        /* soft-item */
        .soft-item{
            color: #FB6D3A;
        }
        /* soft-text */
        .soft-text{
            color: #FFF;
}







